// Font sizes
$h1-size: 1.5rem;
$h2-size: 1rem;
$h3-size: 1rem;
$p-size: 0.875rem;
$link-size: 0.75rem;
$btn-size: 1rem;
$btn3-size: 1.125rem;

// Font weights
$h1-weight: 900;
$h2-weight: 900;
$h3-weight: 700;
$p-weight: 400;
$link-weight: 400;
$btn-weight: 600;
