@use "../../style/variables/color" as color;
@use "../../style/variables/spacing" as space;
@use "../../style/mixins/mixins" as mix;
@use "../../style/placeholders/components";

.product-card {
  @extend %card;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: light-dark(#f5f5f5, #2a2a2a);
    border-bottom: 1px solid light-dark(#e0e0e0, #333);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 300ms ease-in-out;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__content {
    padding: space.$spacing-md;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__description {
    margin: space.$spacing-sm 0;
    font-size: 0.875rem;
    color: light-dark(color.$navigations-color-light, color.$version-color-dark);
    flex-grow: 1;
  }

  &__price {
    margin: space.$spacing-md 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: color.$highlight-green-color;
  }

  &__actions {
    display: flex;
    gap: space.$spacing-sm;
    margin-top: space.$spacing-md;
  }

  &__quantity {
    width: 60px;
    padding: space.$spacing-xs space.$spacing-sm;
    border: 1px solid light-dark(#ddd, #444);
    border-radius: space.$radius-md;
    background: light-dark(white, #2a2a2a);
    color: light-dark(color.$text-color-light, color.$fonts-color-dark);
    font-size: 0.875rem;

    &:focus {
      outline: none;
      border-color: color.$highlight-green-color;
    }
  }
}

.btn--small {
  flex-grow: 1;
  padding: space.$spacing-sm space.$spacing-md;
  font-size: 0.875rem;
}

