@use "../../style/variables/color" as color;
@use "../../style/variables/spacing" as space;
@use "../../style/mixins/mixins" as mix;

.loading {
  @include mix.flex-col;
  @include mix.flex-center;
  text-align: center;
  padding: space.$spacing-3xl space.$spacing-lg;
  gap: space.$spacing-lg;

  &__spinner {
    width: 50px;
    height: 50px;
    border: 4px solid light-dark(#e0e0e0, #333);
    border-top: 4px solid color.$highlight-green-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  p {
    color: light-dark(color.$text-color-light, color.$fonts-color-dark);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
