@use "../../style/variables/color" as color;
@use "../../style/variables/spacing" as space;
@use "../../style/mixins/mixins" as mix;

.button-link {
  @extend .btn;
  @extend .btn--primary;

  a {
    text-decoration: none;
    color: inherit;
  }
}
